// Tipografia
$fuente_principal: 'Titillium Web', sans-serif;

// Colores 
$verde : #4d9de0;
$rosa : #9a031e;
$amarillo: #e1bc29;
$morado: #7768ae;
$negro: #000000;
$blanco: #e1e1e1;

// Tamaños de Media Queries
$telefono : 468px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
