// Tipografia
$fuente_principal: 'Montserrat', sans-serif;

// Colores 
$verde : #41b285;
$rosa : #9d192f;
$amarillo: #e2c44a;
$morado: #752F97;
$negro: #000000;
$blanco: #e1e1e1;

// Tamaños de Media Queries
$telefono : 468px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
